[submodule "pi"]
	path = pi
	url = https://github.com/SergeiKireevDev/pi.git
	branch = main
[submodule "llmbox"]
	path = llmbox
	url = https://github.com/SergeiKireevDev/llmbox.git
	branch = oyster-native-bindings
